{%  extends 'base.html' %}

{% block tilte %} Home {% endblock %}
{% block body %}

    <div>
    <a href="{% url 'friendlist' %}"> Friend List</a>
    /
    <a href="{% url 'addfriend'  %}">Add Friends</a>


    </div>

    <div>

    {% for follow in following %}
        <div>
       > {{ follow.creator.username }} wants to be your friend. <br>
       >><a href="{% url 'acceptfirend' follow.pk %}"> Accept </a>
        /
        <a href="{% url 'declinefriend' follow.pk %}"> Decline </a>
        </div>



    {% endfor %}

    </div>


{% endblock %}